@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.main-content {
  margin-left: 280px;
  flex: 1;
}
